<html>
	<head></head>
	<body>
		<h1>PHP Error</h1>
		<p>{{errstr}} ({{errno}}) at {{errfile}}:{{errline}}</p>
		<h2>Backtrace</h2>
		{% include 'backtrace.html.twig' with {'backtrace': backtrace} %}
	</body>
</html>